.Modal_theme_islands {
  display: none;
  visibility: hidden;
  margin: -9999px 0 0 -9999px;
  background: rgba(50,50,50,0.2);
}
.Modal_theme_islands,
.Modal_theme_islands .Modal__content {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.Modal_theme_islands .Modal__content {
  margin: 5px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
}
.Modal_theme_islands.Modal_js_inited {
  display: block;
}
.Modal_theme_islands.Modal_has-animation {
  animation-name: Modal_theme_islands;
}
.Modal_theme_islands.Modal_has-animation .Modal__content {
  animation-name: Modal_theme_islands__content;
}
.Modal_theme_islands.Modal_visible {
  visibility: visible;
  margin: 0;
}
.Modal_theme_islands.Modal_visible.Modal_has-animation {
  animation-name: Modal_theme_islands_visible;
}
.Modal_theme_islands.Modal_visible.Modal_has-animation .Modal__content {
  animation-name: Modal_theme_islands_visible__content;
}
@-moz-keyframes Modal_theme_islands {
  0% {
    visibility: visible;
    margin: 0;
    opacity: 1;
  }
  99% {
    margin: 0;
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes Modal_theme_islands {
  0% {
    visibility: visible;
    margin: 0;
    opacity: 1;
  }
  99% {
    margin: 0;
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes Modal_theme_islands {
  0% {
    visibility: visible;
    margin: 0;
    opacity: 1;
  }
  99% {
    margin: 0;
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes Modal_theme_islands {
  0% {
    visibility: visible;
    margin: 0;
    opacity: 1;
  }
  99% {
    margin: 0;
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes Modal_theme_islands_visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes Modal_theme_islands_visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes Modal_theme_islands_visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Modal_theme_islands_visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes Modal_theme_islands__content {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes Modal_theme_islands__content {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@-o-keyframes Modal_theme_islands__content {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes Modal_theme_islands__content {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@-moz-keyframes Modal_theme_islands_visible__content {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes Modal_theme_islands_visible__content {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes Modal_theme_islands_visible__content {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Modal_theme_islands_visible__content {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
