.MenuItem_theme_islands {
  position: relative;
  white-space: nowrap;
}
.MenuItem_theme_islands.MenuItem_disabled {
  opacity: 0.3;
}
.MenuItem_theme_islands .link_disabled {
  cursor: text;
}
.MenuItem_theme_islands.MenuItem_checked {
  background: 0 50% no-repeat url("../_islands/tip.svg");
}
.MenuItem_theme_islands.MenuItem_hovered {
  cursor: pointer;
  background-color: #ffeba0;
}
.MenuItem_theme_islands.MenuItem_type_link .link {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.MenuItem_theme_islands.MenuItem_type_link .link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.Menu_size_s .MenuItem_theme_islands {
  padding: 0 10px;
  background-size: 14px 14px;
  background-position: 10px 50%;
}
.Menu_size_s .Menu__group + .MenuItem_theme_islands {
  margin-top: 3px;
}
.Menu_size_s[class*='Menu_mode'] .MenuItem_theme_islands,
.Menu_size_s .Menu__group-title ~ .MenuItem_theme_islands {
  padding: 0 30px;
}
.Menu_size_m .MenuItem_theme_islands {
  padding: 0 13px;
  background-size: 14px 14px;
  background-position: 13px 50%;
}
.Menu_size_m .Menu__group + .MenuItem_theme_islands {
  margin-top: 4px;
}
.Menu_size_m[class*='Menu_mode'] .MenuItem_theme_islands,
.Menu_size_m .Menu__group-title ~ .MenuItem_theme_islands {
  padding: 0 30px;
}
.Menu_size_l .MenuItem_theme_islands {
  padding: 0 15px;
  background-size: 15px 15px;
  background-position: 15px 50%;
}
.Menu_size_l .Menu__group + .MenuItem_theme_islands {
  margin-top: 5px;
}
.Menu_size_l[class*='Menu_mode'] .MenuItem_theme_islands,
.Menu_size_l .Menu__group-title ~ .MenuItem_theme_islands {
  padding: 0 34px;
}
.Menu_size_xl .MenuItem_theme_islands {
  padding: 0 20px;
  background-size: 15px 15px;
  background-position: 20px 50%;
}
.Menu_size_xl .Menu__group + .MenuItem_theme_islands {
  margin-top: 6px;
}
.Menu_size_xl[class*='Menu_mode'] .MenuItem_theme_islands,
.Menu_size_xl .Menu__group-title ~ .MenuItem_theme_islands {
  padding: 0 40px;
}
