.CheckboxGroup_theme_islands {
  display: inline-block;
}
.CheckboxGroup_theme_islands.CheckboxGroup_size_m {
  line-height: 24px;
}
.CheckboxGroup_theme_islands.CheckboxGroup_size_l {
  line-height: 30px;
}
.CheckboxGroup_theme_islands.CheckboxGroup_type_button {
  display: inline-block;
  white-space: nowrap;
}
