.RadioGroup_theme_islands {
  display: inline-block;
}
.RadioGroup_theme_islands.RadioGroup_size_m {
  line-height: 24px;
}
.RadioGroup_theme_islands.RadioGroup_size_l {
  line-height: 30px;
}
.RadioGroup_theme_islands.RadioGroup_type_button {
  display: inline-block;
  white-space: nowrap;
}
